<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USE_QUEUE</key>
	<string>T</string>
	<key>APP_BASE_URL</key>
	<string>10.2.198.169:8081/platform-api/api</string>
	<key>PLATFORM_APPLICATION_ARN</key>
	<string>arn:aws:sns:eu-west-1:678422363581:app/APNS_SANDBOX/VirtualTutor3</string>
	<key>SECRET_KEY</key>
	<string>Sw79HxugUrGILfojsR3aCgNq3kwOsgeIL8kvbnwA</string>
	<key>ACCESS_KEY_ID</key>
	<string>AKIAIJJ5OQ6R5VWZQ36Q</string>
	<key>APPLICATION_ID</key>
	<string>53abeced8de2645775cbe5c7</string>
</dict>
</plist>
